* {
    margin: 0;
    padding: 0;
    line-height: 1.75;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
    font-family: Calibri, Candara, Arial, sans-serif;
}

body {
    background: #a7c5c1;
    height: 100%;
}

h1 {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    
}
header {
    padding: 5% 10%;
    font-family: 'Dancing Script', cursive;
}

/*This is only for the header of the NYC page*/
#nyc {
    background: url("../images/manhattan.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50%;
}

header p{
    font-size: 30px;
}

#page {
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    border: 2px solid #ccc; 
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-top: double;
    border-bottom: double;
    padding: 15px;
       
}

nav ul a {
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:link {
    color: #696969;
}

nav ul li a:visited {
    color: #36B1BF;    
}

nav ul li a:hover {
    color: #9400D3;
}

nav ul li a:active {
}

.fa-paw {
    padding: 10px;
    
}
#banner {
    width:100%;
    padding: 5% 15%;
}

footer {
    margin-top: 100px;
    background-color: #E0FFFF;
    
}

#end {
    padding: 2px;
}
.endlinks {
    border-style: none;
    padding: 1px;
}

.little {
    font-size: 10px;
}
main {
    display: flex;
    
}
.round {
    padding: 5% 10%;
    margin: 0 30px;
}


.mini {
    width: 100%;
    border-radius: 100px;
}

.round {
    text-align: center;
    
}

.round a {
    text-decoration: none;
}

.centered {
    text-align: center;
}


section {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
}

/*Use for NYC page to have images and texts flex-wrap since there are a lot of images*/
article {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


p {
    padding: 10px;
}

/*For links to dogs' social media accoutns and email*/
p a:link {
    color: #696969;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}


div {padding: 20px;
}

.bordering {
    border: double #696969 ;
    margin-top: 25px;
}

/*Instagram logo for footer*/
.instagram {
    width: 50px;
}

.pics {
   
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    /*width: 90%;*/
}


#hobbies {
    content: 700 px;
}    

img {
    padding: 5px;
    width: auto;
}


/*Using breakpoints to adjust for smaller computer screen size*/
@media screen and (max-width: 760px) {    #page {
        width: 100%;
        height: auto;
    }
    
    html {
        font-size: 12px;
        font-weight: bold;
    }
    
    header {
        text-align: center;
    }
    
    div {
        padding: 0;
    }
    .fa-paw {
    padding: 0;
    
}
    section {
        display: block;
        padding: 0;
}
    
    section ul{
        margin: 0 10%;
        text-align: left;
        padding: none;
}

    img {
        width: 70%;
        display: block;
        text-align: center;
        margin: 10%;
    }
    #small {
        
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10%;
        /*border: solid;*/
    }
    
    #small p {
        text-align: center;
        background: #FFfBE8;
    }
    #small img {
        margin: auto;
    }
}

